
/* ==========================================================================
Main page styles
========================================================================== */

a {
    color: rgb(56, 144, 245);
}
a:focus {
    color: rgb(169, 56, 245);
}
